<!DOCTYPE html>
<html>
<head>
    <title>Add Job</title>
</head>
<body>
    <form method="post">
        <div class="mb-2">  
            <label>Title</label><br>
            <input type="text" required name="title" placeholder="Job Title" />
        </div>
        <div class="mb-2">
            <label>Location</label><br>
            <input type="text" required name="location" placeholder="Location" />
        </div>
        <div class="mb-2">
            <label>Salary</label><br>
            <input type="number" required name="salary" placeholder="10000" />
        </div>  
        <div class="mb-2">
            <label>Currency</label><br>
            <input type="text" required name="currency" placeholder="Rs. $" />
        </div>
        <div class="mb-2">
            <label>Responsibilities</label><br>
            <textarea name="responsibilities"></textarea>
        </div>  
        <div class="mb-2">
            <label>Requirements</label><br>
            <textarea name="requirements"></textarea>
        </div>  
        <br><button type="submit" class="btn btn-primary">Submit</button></br>
    </form>
</body>
</html>

