<!DOCTYPE html>
<html>
<head>
    <title>Add Job</title>
    {% include 'bootstrap.html' %}
    <style>
        .center-screen {
            display: flex;
            justify-content: center;
            
            height: 100vh;
        }
    </style>
</head>
<body>
  {% include 'nav.html' %}
  {% include 'banner.html' %}
  <div class="center-screen">
    <form method="post">
        <div class="mb-2">  
            <b>Title</b><br>
            <input type="text" required name="title" placeholder="Job Title" />
        </div>
        <div class="mb-2">
            <b>Location</b><br>
            <input type="text" required name="location" placeholder="Location" />
        </div>
        <div class="mb-2">
            <b>Salary</b><br>
            <input type="number" required name="salary" placeholder="10000" />
        </div>  
        <div class="mb-2">
            <b>Currency</b><br>
            <input type="text" required name="currency" placeholder="Rs. $" />
        </div>
        <div class="mb-2">
            <b>Responsibilities</b><br>
            <textarea name="responsibilities"></textarea>
        </div>  
        <div class="mb-2">
            <b>Requirements</b><br>
            <textarea name="requirements"></textarea>
        </div>  
        <br><button type="submit" class="btn btn-primary">Submit</button></br>
    </form>
  </div>
  {%include 'footer.html'%}
</body>
</html>



