<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title -->
    <title>Directions</title>

    <!-- Include Bootstrap -->
    {% include 'bootstrap.html' %}

    <!-- Add link to CSS file if needed -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    <!-- Navigation bar -->
    {% include 'nav.html' %}

    <!-- Banner -->
    {% include 'banner.html' %}

    <!-- Acknowledgement section -->
    <div class="container my-5">
        <div class="acknowledgement p-5 bg-light rounded">
            <h2>Instructions</h2>
            <ul>
                <li>From drakahari.com, select the apply link on any of the open positions.
                    <ul>
                        <li>Some fields are required: Full Name, Email, Linkedin (must use a URL)</li>
                    </ul>
                </li>
                <li>If submitted properly, a confirmation screen will be displayed.</li>
                <li>Now select the Review App Status link from the footer section @ drakahari.com.
                    <ul>
                        <li>You should now see that your application information has been added to the queue of applications!</li>
                    </ul>
                </li>
                <li>Now to test admin functionality by adding additional positions the home screen.
                    <ul>
                        <li>Select Admin in the footer section of drakahari.com.</li>
                        <li>This is password protected and the username is <b>admin</b> and the password is <b>admin</b> (kept simple for testing purposes). Please feel free to use incognito mode if you want to make multiple entries to the database.</li>
                        <li>After entering all of the relevant job data, hit submit.</li>
                        <li>You will now see a screen that displays Job added successfully! Check on drakahari.com to see if the position was in fact added.</li>
                    </ul>
                </li>
            </ul>
          <ul>
                <li>From drakahari.com, select the To-Do Demo link that is in the footer. This will take you to a page that has a simple To-Do list that utilized MongoDD NOSQL database
                    <ul>
                        <li>Add items to the To-Do list and notice that they are added below.</li>
                        <li>You can then delete items from the To-Do list to show that there is dynamic two-way communication between the application and the NOSQL database.</li>
                    </ul>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
