<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a target="_blank" href="https://www.drakahari.com" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.drakahari.com/learn" class="nav-link px-2 text-body-secondary">Courses</a></li>

      <li class="nav-item"><a target="_blank" href="https://www.drakahari.com/about" class="nav-link px-2 text-body-secondary">About This Project</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.drakahari.com/applications" class="nav-link px-2 text-body-secondary">Review App Status</a></li>
      <li class="nav-item"><a target="_blank" href="https://www.drakahari.com/add_job" class="nav-link px-2 text-body-secondary">Admin</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Drakahari, Inc</p>
  </footer>
</div>