<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acknowledgement</title>
  {% include 'bootstrap.html' %}
    <!-- Add link to CSS file if needed -->
</head>
<body>
  {% include 'nav.html' %}
    {% include 'banner.html' %}
    <div class="acknowledgement">
        <p>I owe a great deal of thanks to aakasshns for posting a very good tutorial that was recommended to me at freeCodeCamp.org. The Jovian Careers tutorial was very useful when trying to understand full-stack development. I was able to get hands-on experience with bootstrap, HTML, CSS, JSON, Python (Flask framework), SQLAlchemy, and JavaScript. I learned a lot about the basics of Python and how to use it in a real-world scenario of a web application. Being able to GET and POST data to/from a database and troubleshoot issues as they arise has been very valuable. Most notably, I learned a great deal about version control (important to hide password credentials...), database creation, database migration, and database queries. I had to make several edits to my code in order to get the database features to work as intended with my Azure cloud database.</p>
    </div>
  {%include 'footer.html'%}
</body>
</html>