<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title -->
    <title>Directions</title>

    <!-- Include Bootstrap -->
    {% include 'bootstrap.html' %}
 
    <!-- Navigation bar -->
    {% include 'nav.html' %}

    <!-- Banner -->
    {% include 'banner.html' %}
  <!-- Add inline CSS to control the image size and position -->
    <style>
        .footer-image {
            max-height: 200px;  /* Adjust as needed */
            position: relative;
            left: -50px;  /* Adjust as needed */
        }
    </style>
</head>
<body>

  <div class="container my-5">
        <div class="acknowledgement p-5 bg-light rounded">
    <h2>Tools Used For this Project:</h2>
    <ul>
        <li>For IDE I utilized <a href="https://www.replit.com/" target="_blank">Replit.com</a> and Visual Studio Code.</li>
        <li>For hosting the website, I am using <a href="https://www.render.com/" target="_blank">Render.com.</a></li>
        <li>For version control I utilized <a href="https://www.github.com/" target="_blank">Github.</a></li>
        <li>My repository for the career website full-stack application is located at <a href="https://github.com/drakahari/drakahari_jovinan_sample-v2/" target="_blank">Drakahari Carrers Repository.</a></li>
        <li>To view all of my repositories please click this link <a href="https://github.com/drakahari" target="_blank">Drakahari Github  Repository.</a></li>
        <li>My repository for the handcrafted about page utilizing styles.css is located at <a href="https://github.com/drakahari/Sample_Site_Tutorial" target="_blank">Sample Site Tutorial Github Respository.</a></li>
        <li>My repository for the inital configuration of code for my attempt at Flask-MongoDB integration is located at <a href="https://github.com/drakahari/todo_flask_mongo" target="_blank">Todo Flask Mongo.</a></li>
        <li>The relational database that I am using is MySQL hosted on Microsoft Azure.</li>
        <li>The NoSQL database that I am using is MongoDB hosted on MongoDB Atlas.</li>
        <li>I utilize MySQL WORKBENCH to configure and edit my MySQL database and MongoDB Compass to configure and edit my Mongo database.</li>
      
        <!-- Image above the footer -->
 <div class="container text-center my-5"> <!-- Bootstrap classes for center alignment and margin -->
   <img src="{{ url_for('static', filename='db.jpg') }}" class="img-fluid" alt="Database Image"> <!-- Bootstrap class for responsive image -->
 </div>
    </ul>
  </div>
 </div>

   <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
