<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title -->
    <title>Directions</title>

    <!-- Include Bootstrap -->
    {% include 'bootstrap.html' %}
 
    <!-- Navigation bar -->
    {% include 'nav.html' %}

    <!-- Banner -->
    {% include 'banner.html' %}
</head>
<body>

  <div class="container my-5">
        <div class="acknowledgement p-5 bg-light rounded">
    <h2>Tools Used For this Project:</h2>
    <ul>
        <li>For IDE I utilized <a href="https://www.replit.com/" target="_blank">Replit.com</a> and Visual Studio Code.</li>
        <li>For hosting the website, I am using <a href="https://www.render.com/" target="_blank">Render.com.</a></li>
        <li>For version control I utilized <a href="https://www.github.com/" target="_blank">Github.</a></li>
        <li>My repository for the career website full-stack application is located at <a href="https://github.com/drakahari/drakahari_jovinan_sample-v2/" target="_blank">Drakahari Carrers Repository.</a></li>
        <li>My repository for the handcrafted about page utilizing styles.css is located at <a href="https://github.com/drakahari/Sample_Site_Tutorial" target="_blank">Sample Site Tutorial Github Respository.</a></li>
        <li>The relational database that I am using is MySQL hosted on Microsoft Azure.</li>
        <li>I utilize MySQL WORKBENCH to configure my database.</li>
      
        <!-- Add more tools as needed -->
    </ul>
  </div>
 </div>

   <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
